@model InterestingLife_Core.Models.Song.AddSongViewModel


@{
    ViewData["Title"] = "AddSong";
}

<h2>AddSong</h2>

<h4>Song</h4>
<hr />


@*<div data-bind="component: {name: 'add-song-block'}"></div>*@

<div data-bind="component: {name: 'song-block'}"></div>


<div>
    <a asp-action="Index">Back to List</a>
</div>



@section Scripts
    {
    <script>
        require(['../js/config'], function () {
            require(['ko', 'jquery', 'admin/admin-component-register'], function (ko, $, components) {
                $(document).ready(function () {
                    ko.applyBindings(new components());
                });
            });
        });
    </script>
}
