
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<div class="container">
    <div class="well">
        <div class="alert alert-info">
            <a href="/Admin/AddSong">Управление списком <strong style="color: black;">песен</strong>(добавление, редактирование, удаление)</a><br/>
            <a href="/Admin/AdminCategories">Управление списком <strong style="color: black;">категорий</strong>(добавление, редактирование, удаление)</a><br/>
            <a href="/Admin/AdminCategories">Управление списком <strong style="color: black;">пользователей</strong>(добавление, редактирование, удаление)</a>
        </div>
    </div>
</div>

