<style>
    .text-block {
        word-wrap: break-word;
        text-align: center;
        color: #e4f2ff;
        height: 34em;
        background: rgba(0, 0, 0, 0.37);
        border-radius: 10px 10px 10px 10px;
        margin-left: 25px;
        padding: 5px 10px;
        box-shadow: 0 0 9px 0px black;
        /*font-family: 'Montserrat', sans-serif;
        font-style: italic;*/
        /* overflow: auto; */
    }

 
</style>

<div class="text-block">

        <p class="glyphicon glyphicon-time" style="color: wheat; font-style: normal; font-weight: 600" data-bind="component: {name: 'time-widget'}"></p>

    <p   data-bind="text: text"></p>
</div>