<style>
    .name-songs-box {
        background: #314817d1;
        color: bisque;
        height: 600px;
        border: 1px solid #ff9800;
        overflow: auto;
    }
    .list-songs {
        text-align: center;
        background: transparent;
    }
        .list-songs:hover {
            background: #ff9800;
            transition: all 0.4s;
            color: black;
            cursor: pointer;
        }
    .song-lyrics {
        text-align: center;
        white-space: pre-wrap;
    }
    .categories-box {
        background-color: #30363a;
        text-align: center;
        color: #c1beb9;
    }
    .list-categories {
        color: #3a3933
    }
        .list-categories:hover {
            transition: all 0.4s;
            color: antiquewhite;
            cursor: pointer;
        }
    .error-block {
        opacity: 0;
        color: #ff9800;
    }
</style>



<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info categories-box">
            <div class="error-block"></div>
            <div data-bind="foreach: categories">
                <div class="list-categories badge" data-bind="text:name, click:$component.getSongsByCategory"></div>
            </div>
        </div>
        
    </div>
    <div class="col-md-3">
        <div class="name-songs-box">
            <!--ko foreach: songs-->
            <div class="list-songs" data-bind="text:name, click: $component.getSongById"></div>
            <!--/ko-->
        </div>
    </div>
    <div class="col-md-6">
        <div class="name-songs-box">
            <div style="text-align: center; background: #ff9800;">
                <h3 data-bind="text:name"></h3></div>
            <div class="song-lyrics" data-bind="text:lyrics"></div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="name-songs-box">
            <div class="list-songs" data-bind=""></div>
        </div>
    </div>
</div>