<style>
    .column {
        width: 22px;
        margin-bottom: 15px;
        border: 1px black;
        float: left;
    }
        .column.active {
            background: rgba(0, 0, 0, 0.14);
            color: azure;
        }
     .cell {
         width: 21px;
         height: 21px;
         margin-left: 0;
         margin-bottom: 1px;
         text-align: center;
         border: none;
         background: rgba(0, 0, 0, .5);
         color: beige;
     }
    .cell.date {
        background: aqua;
        color: brown
    }
    .date.active {
        background: red;
        color: azure;
    }
</style>

<!--<h2 data-bind="text: title"></h2>-->


<div>
    <input type="month" class="input-group-sm" required data-bind="value: selectedDate, event: { change: getTable }"/>
    <input type="submit" class="" data-bind="click: saveNewValue" value="save"/>
</div>
    <form data-bind="submit: saveNewValue">
        <!--ko foreach: table()-->
        <div class="column" data-bind="css: {active: $index() + 1 == new Date().getDate()}">
            <input type="text" class="cell date" readonly data-bind="value: $index() + 1, css: {active: $index() + 1 == new Date().getDate()}"/>
            <!--ko foreach: cells()-->
            <input type="text" name="cell" class="cell" data-bind="textInput: $data.cell"/>
            <!--/ko-->
        </div>
        <!--/ko-->
    </form>

