<style>
    .table-box {
        border: 1px solid black;
    }

    .column {
        width: 22px;
        margin-bottom: 15px;
        border: 1px black;
        float: left;
        font-size: 11px;
    }

        .column.active {
            background: rgba(0, 0, 0, 0.14);
            color: azure;
            box-shadow: 1px -1px 11px 0px black;
        }

    .cell {
        width: 21px;
        height: 21px;
        margin-left: 0;
        margin-bottom: 1px;
        text-align: center;
        border: none;
        background: rgba(0, 0, 0, 0.58);
        color: #ffd505;
        border-radius: 0.5px;
    }

    .date {
        background: rgba(0, 0, 0, 0.55);
        color: #dca7a6;
        transition: all .4s;
        font-size: 12px;
        box-shadow: inset 0 0 1px 1px black;
    }

        .date.active {
            background: #FF5252;
            color: black;
            box-shadow: inset 0 0 2px 1px black;
        }

        .date:hover {
            transform: rotate(360deg);
            /*border-radius: 10px;*/
        }

    .alert-info {
        color: #333;
        background-color: rgba(0, 0, 0, .5);
        border-color: #fcf8e3;
    }
</style>

<!--<h2 data-bind="text: title"></h2>-->
<div class="alert alert-info row">
    <div class="col-md-4">
        <input type="month" class="input-group-sm" required data-bind="value: selectedDate, event: { change: getTable }" />
        <input type="submit" class="btn btn-sm" style="background: #FF5252;" data-bind="click: saveNewValue" value="save" />
    </div>
    <div class="col-md-6" style="display: inline-block; color: wheat;" data-bind="component: {name: 'time-widget'}"></div>
</div>
<div class="row">
    <div class="col-md-3">
        <div data-bind="component:{name:  'description-list-block', params: {selectCellId: selectCellId}}"></div>
    </div>
    <div class="col-md-pull-10" style="z-index: 0">
        <div class="">
            <!--ko foreach: table()-->
            <div class="column" data-bind="css: {active: $index() + 1 == new Date().getDate()}">
                <input type="text" class="cell date" readonly data-bind="value: $index() + 1, css: {active: $index() + 1 == new Date().getDate()}" />
                <!--ko foreach: cells()-->
                <input type="text" name="cell" class="cell" data-bind="event: {focus:$component.hasFocusCell},attr:{id: $index() + 1}, textInput: $data.cell" />
                <!--/ko-->
            </div>
            <!--/ko-->
        </div>
    </div>
   
        <div  data-bind="component: {name: 'description-text-block' ,  params: {selectCellId: selectCellId}}" class="col-md-2" style="padding: 0;z-index: 9999"></div>
   
</div>



