<div class="well">
    <form>
        <div class="form-group">
            <div>
                <label for="">Название</label>
                <input id="name" type="text" style="width: 300px;" name="name" class="form-control" data-bind="value: name, valueUpdate:'afterkeydown'" />
                <span style="color: red;" data-bind="visible: name.istValid, text: name.validationMessage"></span>
            </div>
            <div>
                <label for="">Текст</label>
                <textarea style="display: block;" id="lir" cols="60" rows="12" data-bind="value: lirycs, valueUpdate:'afterkeydown'"></textarea>
                <span style="color: red;" data-bind="visible: lirycs.istValid, text: lirycs.validationMessage"></span>
            </div>
        </div>
        <div>
            <label>Категория</label>
            <div data-bind="foreach:categories">
                <input type="checkbox" data-bind="checkedValue:$data ,checked:hasChoosing" />
                <label data-bind="text: category.name"></label>
            </div>
        </div>
        <div>
            <input class="btn btn-success" type="button" value="Сохранить" data-bind="click: save" /> <span id="info-message"></span>
        </div>
    </form>
</div>