<div class="container">
    <div class="well">

        <div class="well-sm">
            <h5 id="info-msg"></h5>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CreateSongModalCenter">
                Добавить песню
            </button>
        </div>



        <!-- Button trigger modal -->
        <!--Create Song Modal -->
        <div class="modal fade" id="CreateSongModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background: cornflowerblue;">
                        <h5 class="modal-title" id="exampleModalLongTitle">ДОБАВЛЕНИЕ НОВОЙ ЗАПИСИ</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <add-song-block params="getSongs: getSongs"></add-song-block>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <!--Edit Song Modal -->
        <div class="modal fade" id="EditSongModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background: orange;">
                        <h5 class="modal-title" id="exampleModalLongTitle">РЕДАКТИРОВАНИЕ</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <edit-song-block params="song: editingSong, getSongs: getSongs"></edit-song-block>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Song</th>
                    <th>Categories</th>
                    <th>Редактирование</th>
                    <th>Удаление</th>
                </tr>
            </thead>
            <tbody>
                <!--ko foreach: songsWithCategories-->
                <tr>
                    <td style="width: 40%;">
                        <strong style="color: orangered; cursor: pointer;" data-toggle="collapse" data-bind="text: $data.song.name, attr: {href: '#' + $index()}" aria-expanded="false"></strong>
                        <p class="collapse" data-bind="attr: {id: $index}">
                            <span style="white-space: pre-wrap;" data-bind="text:$data.song.lyrics"></span>
                        </p>
                    </td>

                    <td data-bind="foreach:$data.categories">
                        <span data-bind="text:category.name, style: {background: $data.hasChoosing ? '#0288d1' : '#80808085'}" class="badge"></span>
                        <!--<input type="checkbox" data-bind="checkedValue: $data ,checked: $data.hasChoosing" />
                    <label data-bind="text:category.name"></label>-->
                    </td>

                    <td style="width: 6%; text-align: center"><a class="btn btn-warning" data-toggle="modal" data-target="#EditSongModalCenter" data-bind="click: $component.getEditinsSong">Edit</a></td>
                    <td style="width: 10%; text-align: center"><a class="btn btn-danger" data-bind="click: $component.removeSong">Remove</a></td>
                </tr>
                <!--/ko-->
            </tbody>
        </table>
    </div>
</div>
<script>$('.collapse').collapse();</script>