<div class="container">
    <div class="well">

        <div class="well-sm">
            <h5 id="info-msg"></h5>
            <!--<a class="btn btn-info" data-bind="click: clickAddBtn, visible: !isHaveAdded()">Create song</a>
            <a class="btn btn-info" data-bind="click: clickCancelBtn, visible: isHaveAdded">Cancel</a>-->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                Create song
            </button>
        </div>
        <!--<div data-bind="component: {name: 'add-song-block'}, visible: isHaveAdded"></div>-->
        
        
        <!-- Button trigger modal -->
       

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Create new song</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div data-bind="component: {name: 'add-song-block'}"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Song</th>
                    <th>Categories</th>
                    <th>Редактирование</th>
                    <th>Удаление</th>
                </tr>
            </thead>
            <tbody>
                <!--ko foreach: songsWithCategories-->
                <tr>
                    <td style="width: 40%;">
                        <h5 style="color: orangered;" data-toggle="collapse" data-bind="text: $data.song.name, attr: {href: '#' + $index()}" aria-expanded="false"></h5>
                        <p class="collapse" data-bind="attr: {id: $index}">
                            <span style="white-space: pre-wrap;" data-bind="text:$data.song.lyrics"></span>
                        </p>
                    </td>

                    <td data-bind="foreach:$data.categories">
                        <span data-bind="text:name" class="badge" style="background: darkseagreen;"></span>
                    </td>

                    <td style="width: 6%; text-align: center"><a class="btn btn-warning">Edit</a></td>
                    <td style="width: 10%; text-align: center"><a class="btn btn-danger" data-bind="click: $component.removeSong">Remove</a></td>
                </tr>
                <!--/ko-->
            </tbody>
        </table>
    </div>
</div>
<script>$('.collapse').collapse();</script>